.news-detail {
  .title {
    color: #333;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  .content {
    margin: 20px 0;
    .source {
      font-size: 14px;
      color: #c2c2c2;
      text-align: right;
      padding-bottom: 16px;
      span {
        padding-right: 30px;
      }
    }
    p {
      margin-bottom: 10px;
      text-indent: 2em;
      line-height: 1.5em;
    }
  }
  .foot {
    .attach {
      font-size: 14px;
      color: #c2c2c2;
      text-align: right;
      padding-bottom: 16px;
      span {
        padding-right: 30px;
      }
    }
  }
}
