.container {
  width: 1200px;
  margin: 0 auto;
}
.footer {
  background-color: #a30005; //底部背景颜色
  font-size: 12px;
  & > .container {
    padding: 50px 0;
    overflow: hidden;
  }
  .content {
    color: #fafafa;
    float: left;
    .logo img {
      height: 54px;
      width: auto;
    }
    ul {
      padding-left: 65px;
      margin-top: 20px;
      li {
        margin-top: 15px;
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px;
        position: relative;
        &:first-child {
          margin-top: 0;
        }
        .fa {
          color: #fafafa;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .nav {
    width: 220px;
    margin-left: 80px;
    float: right;
    .tit {
      font-size: 18px;
      color: #fafafa;
      border-bottom: 1px solid #fafafa;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }
    .er li {
      width: 50%;
      float: left;
    }
    ul {
      overflow: hidden;
      li {
        margin-top: 15px;
        a {
          display: block;
          overflow: hidden;
          position: relative;
          color: #fafafa;
          padding-left: 20px;
          &:before {
            display: block;
            content: "\e6e0";
            font-family: element-icons;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #fafafa;
            font-size: 16px;
          }
          &:hover:before {
            border-color: #fafafa;
          }
        }
      }
    }
  }
  .copy {
    background-color: #7d0008; //下面版权背景
    color: #fafafa;
    padding: 20px 0;
    a {
      color: #fafafa;
      &:hover {
        //color: #3a83e0;
        text-decoration: underline;
      }
    }
  }
}