
// 填满父元素
// 组要父元素 position: relative | absolute;
%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
// 禁止用户选中 鼠标变为手形
%unable-select {
  user-select: none;
  cursor: pointer;
}
// 整体框架结构
.layout-group {
    height: 100%;
    width: 100%;
    min-width: 900px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    // 内容层
    .layout-content {
      @extend %full;
      .theme-header {
        height: 50px;
        opacity:1;
        box-shadow:0 2px 12px 0 rgb(0 0 0 / 10%);
        // logo区域
        .logo-group {
          float: left;
          text-align: center;
          img {
            height: 50px;
          }
        }
        .logo-transition {
          transition: width .3s;
        }
        // 折叠侧边栏切换按钮
        .toggle-aside-btn {
          float: left;
          height: 50px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          @extend %unable-select;
          i {
            font-size: 20px;
            margin-top: 4px;
          }
        }
        // 顶栏右侧的按钮
        .header-right {
          float: right;
          height: 50px;
          display: flex;
          align-items: center;
          .btn-text {
            padding: 14px 12px;
            border-radius: 4px;
            margin: 0px !important;
            &.el-color-picker.el-color-picker--mini {
              padding: 9px 6px;
            }
          }
          .el-dropdown {
            @extend %unable-select;
          }
        }     
      }
      // [布局] 顶栏下面
      .theme-container {
        &-transition { //theme-container-transition
          transition: width .3s;
        }
        // 侧边栏
        &-aside{ //theme-container-aside
          position: relative;
          opacity:1;
          .aside-menu-side {
            @extend %full;
            overflow: hidden;
            .layout-scrollbar{
              height: 100%;
              padding-right: 17px;
              ::-webkit-scrollbar {
                //滚动条的宽度
                width: 0px;
              }
              .el-scrollbar__wrap {
                overflow: auto;
              }
            }
            %theme-container-aside-menu-icon {
              width: 20px;
              text-align: center;
              font-size: 16px;
            }
            // [菜单] 正常状态
            .el-menu {
              @extend %unable-select;
              background-color: transparent;
              border-right: none;
              .el-menu-item {
                i {
                  font-size: 19px;
                  margin-left: -5px;
                  @extend %theme-container-aside-menu-icon;
                }
              }
            }
            .el-submenu {
              @extend %unable-select;
              .el-submenu__title {
                i {
                  font-size: 19px;
                  margin-left: -5px;
                  @extend %theme-container-aside-menu-icon;
                }
                .el-submenu__icon-arrow {
                  margin-top: -10px;
                  font-size: 16px;
                }
              }
            }
            .el-menu-item,.el-submenu__title{
              height: 40px;
              line-height: 40px;
            }
            // 菜单为空的时候显示的信息
            .aside-menu-empty {
              height: 160px;
              margin: 10px;
              margin-top: 0px;
              border-radius: 4px;
              @extend %unable-select;
              i {
                font-size: 30px;
                margin-bottom: 10px;
              }
              span {
                font-size: 14px;
              }
            }
            // [菜单] 折叠状态
            .el-menu--collapse {
              background-color: transparent;
              .el-submenu__title {
                text-align: center;
              }
            }
          }
        }
        // 右下 主体
        &-main{ //theme-container-main
          padding: 0px;
          position: relative;
          overflow: hidden;
          &-layer { //theme-container-main-layer
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
          }
          // 主体部分分为多页面控制器 和主体
          &-header{ //theme-container-main-header
            height: 36px;
            // 多页面控制器
            .multiple-page-control-group {
              //padding-right: 20px;
              .multiple-page-control-content {
                overflow: auto;
                position: relative;
                .multiple-page-control-content-inner {
                  .multiple-page-control {
                    .el-tabs__header.is-top {
                      margin: 0px;
                    }
                    .el-tabs__nav {
                      overflow: hidden;
                    }
                    .el-tabs__item,.el-tabs__nav-prev,.el-tabs__nav-next{
                      height: 35px;
                      line-height: 35px;
                    }
                    .el-tabs__item{
                      -webkit-box-shadow:none;
                      box-shadow: none;
                    }
                  }
                }
              }
              .multiple-page-control-btn {
                position: relative;
                bottom: -1px;
                .el-dropdown {
                  .el-button-group {
                    .el-button{
                      height: 35px;
                    }
                    .el-button:first-child {
                      border-bottom-left-radius: 0px;
                    }
                    .el-button:last-child {
                      border-bottom-right-radius: 0px;
                    }
                  }
                }
              }
            }
          }
          &-body { //theme-container-main-body
            position: relative;
            // 布局组件
            .container-component{
              @extend %full;
              overflow: hidden;
              // 填充式布局组件
              .container-full {
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .container-full__header {
                  padding: 10px;
                }
                .container-full__body {
                  flex-grow: 1;
                  height: 100%;
                  padding: 10px 10px;
                  overflow: auto;
                  position: relative;
                }
                .container-full__footer {
                  padding: 10px;
                }
              }              
            }
          }
        }
      }
    }
  }