.el-table{
    .el-table__header-wrapper{
        th.el-table__cell{
            background-color: rgb(245 247 250);
        }
    }
}
.el-table__cell a.el-link{
    font-size: 12px;
}
.el-dialog__wrapper{
    .el-dialog__header{
        background-color: #e9e9e9;
        padding:10px 20px 5px;
        .el-dialog__headerbtn{
            top:10px
        }
    }
    .el-dialog__body{
        padding: 10px 20px;
    }
    .el-dialog__footer{
        text-align: center;
        padding: 10px 20px;
    }
}
.el-input.is-disabled  input.el-input__inner{
    color: #606266;
}
.el-textarea.is-disabled textarea.el-textarea__inner{
    color: #606266;
}