.video-play-detail{
  .side-tabs.el-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    .el-tabs__item {
      color: #c0c5cc;
    }
    .el-tabs__nav-wrap::after {
      background-color: transparent;
    }
    .el-tabs__header {
      flex: 0 0 50px;
      padding: 0 20px;
      margin: 0;
    }
    .el-tabs__content {
      flex: 1;
      height: 100%;
      .el-tab-pane {
        height: 100%;
      }
      .playContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        .search-bar {
          display: flex;
          align-items: baseline;
          padding: 6px 24px;
          .el-input__inner {
            background-color: transparent;
            color: #fff;
          }
        }
        .docs-list {
          padding: 10px 0;
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          position: relative;
          &::-webkit-scrollbar-thumb {
            background-color: #323c46;
          }
          &::-webkit-scrollbar,
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          .docs-part {
            padding: 0 24px;
            font-size: 14px;
            line-height: 28px;
            color: #667280;
            margin-bottom: 24px;
            .begin-time {
              padding: 0 4px;
              margin-bottom: 8px;
              background: #323c46;
              border-radius: 6px;
              height: 20px;
              line-height: 20px;
              width: fit-content;
              font-size: 14px;
              color: #a1a9b2;
            }
            .docs-part-cnt {
              cursor: default;
              .docs-text {
                padding: 5.5px 0 5.5px 4px;
                &:first-child {
                  margin-left: -4px;
                }
                &:hover {
                  cursor: pointer;
                  background: rgb(202, 11, 11, 0.3);
                  border-radius: 6px;
                  color: #c0c5cc;
                }
              }
              .comma {
                margin-right: -4px;
                padding: 5.5px 0;
              }
            }
          }
        }
      }
      .playlist {
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar-thumb {
          background-color: #323c46;
        }
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        .el-collapse {
          background-color: transparent;
          border: 0;
          .el-collapse-item {
            .el-collapse-item__wrap {
              background-color: transparent;
              border: 0;
              .el-collapse-item__content {
                padding-bottom: 0;
              }
            }
            .el-collapse-item__header {
              height: 44px;
              line-height: 44px;
              font-size: 16px;
              padding: 0 24px;
              cursor: pointer;
              background-color: transparent;
              color: #c0c5cc;
              border: 0;
              .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-wrap: normal;
              }
            }
            .el-collapse-item__content {
              .task-item-expo-wrapper {
                position: relative;
                font-size: 14px;
                padding: 12px 0;
                margin: 0 12px;
                cursor: pointer;
                &.active {
                  background: #0f1419;
                  border-radius: 16px;
                  .task-item {
                    color: #e35e54;
                    &:hover {
                      color: #e35e54;
                    }
                  }
                }
                .task-item {
                  position: relative;
                  display: flex;
                  cursor: pointer;
                  padding: 0 12px;
                  color: #a1a9b2;
                  &:hover {
                    color: #c0c5cc;
                  }
                  .task-type {
                    display: flex;
                    width: 14px;
                    height: 14px;
                    margin-top: 3px;
                    margin-right: 14px;
                    .play-icon {
                      display: inline-block;
                      vertical-align: middle;
                      font-size: 14px;
                      svg {
                        display: block;
                        margin: auto;
                        width: 1em em;
                        height: 1em;
                      }
                    }
                  }
                  .task-content {
                    width: calc(100% - 44px);
                    .task-name-ctn {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      .task-name {
                        height: 22px;
                        line-height: 22px;
                        font-size: 16px;
                        margin-bottom: 4px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        word-wrap: normal;
                        .task-index {
                          margin-right: 7px;
                          font-size: 18px;
                          font-weight: 600;
                        }
                      }
                      .task-labels {
                        display: flex;
                        flex: none;
                        margin-left: 20px;
                        .icon-lock {
                          margin-right: 8px;
                          display: inline-block;
                          vertical-align: middle;
                          color: #c9d0d6;
                          font-size: 16px;
                        }
                        .task-label {
                          height: 20px;
                          padding: 2px 6px;
                          background: rgba(32, 128, 247, 0.1);
                          border-radius: 8px;
                          font-weight: 400;
                          font-size: 12px;
                          line-height: 16px;
                          color: #2080f7;
                          margin-left: 2px;
                        }
                      }
                    }
                    .task-info {
                      height: 20px;
                      line-height: 20px;
                      font-size: 14px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      word-wrap: normal;
                      .time-range {
                        margin-right: 8px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .play-body {
    min-width: 750px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000;
    .right-side-bar {
      border-top: 1px solid #14171a;
      background: #1b2128;
      width: 360px;
      position: absolute;
      right: 0;
      bottom: 50px;
      top: 0;
      z-index: 2001;
      transition: right 0.5s;
      .side-bar {
        color: #c0c5cc;
        height: 100%;
        overflow: hidden;
      }
    }
    .study-bodys {
      display: flex;
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      top: 0;
      bottom: 50px;
      left: 0;
      right: 360px;
      transition: right 0.5s;
      .video-js {
        width: 100%;
        height: 100%;
      }
    }
    .study-foot {
      width: 100%;
      height: 50px;
      line-height: 50px;
      color: #8797a1;
      background: #1b2128;
      user-select: none;
      position: absolute;
      bottom: 0;
      z-index: 2002;
      div {
        margin: 0 20px;
      }
    }
  }
}