// 优化显示
html,div,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd {
  padding: 0;
  margin: 0;
}
ol, ul {
  list-style: none;
}
html, body {
  margin: 0px;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  #app {
    @extend %full;
    a {
      text-decoration: none;
    }
  }
}
.l-width {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fafafa;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #fafafa;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c8c8c8;
}

