// 主色
$color-primary: #409EFF;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;

// 背景
$color-bg: #f8f8f9;

$color-1: #ffeae6;
$color-2 :#fcb9ae;
$color-3 :#f08a7f;
$color-4 :#e35e54;
$color-5 :#d6332d;
$color-6 :#ca0b0b;
$color-7 :#a30005;
$color-8 :#7d0008;
$color-9 :#570009;
$color-10 :#300006;